<nav class="app-sidebar">

    <div class="sidebar-logo">
        <img
            class="sidebar-logo-img"
            src="{{ url_for('static', filename='PhoenixLogo.png') }}"
            alt="Phoenix Systems UK Logo"
        >
    </div>

    <ul class="sidebar-menu">
        <li>
            <a href="{{ url_for('safety') }}">
                <span>S</span>
            </a>
        </li>

        <li>
            <a href="{{ url_for('quality') }}">
                <span>Q</span>
            </a>
        </li>

        <li>
            <a href="{{ url_for('deliverables') }}">
                <span>D</span>
            </a>
        </li>

        <li>
            <a href="{{ url_for('inventory') }}">
                <span>I</span>
            </a>
        </li>

        <li>
            <a href="{{ url_for('productivity') }}">
                <span>P</span>
            </a>
        </li>
        
    </ul>

</nav>