<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {{ page_title|default("SQDIP") }}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='SQDIPstyle.css') }}"
    >

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link
        rel="icon"
        type="image/png"
        href="{{ url_for('static', filename='PhoenixLogo.png') }}"
    >

    {% block extra_head %}{% endblock %}
</head>

<body>

    {% include "includes/navbar.html" %}

    <div class="page-shell">

        {% include "includes/top_panel.html" %}

        <main class="main-content">
            {% block content %}{% endblock %}
        </main>

    </div>


<script
    src="{{ url_for('static', filename='departmentFilter.js') }}"
></script>

{% block extra_scripts %}{% endblock %}
</body>
</html>