{% extends "base.html" %}

{% set page_title = "DELIVERABLES" %}

{% block content %}
<div class="button-container">
<button>D1a1</button>
<br>
<button>D1a2</button>
<br>
<button>D1b</button>
<br>
<button>D1c</button>
<br>
<button>D1d</button>
<br>
<button>D2</button>
<br>
<button>D3a</button>
<br>
<button>D3b</button>
<br>
<button>D4</button>
<br>
<button>D5</button>
<br>
<button>D7</button>
<br>
<button>D8</button>
<br>
<button>D9</button>
<br>
<button>D10</button>
<br>
<button>D11</button>
<br>
<button>D12</button>
</div>
{% endblock %}
