{% extends "base.html" %}

{% set page_title = "DELIVERABLES" %}

{% block content %}
<div class="button-container">
<button id="D1a1" type="button" data-sqdip-chart="D1a1">D1a1 </button>
<br>
<button id="D1a2" type="button">D1a2</button>
<br>
<button id="D1b" type="button" data-sqdip-chart="D1b">D1b</button>
<br>
<button id="D1c" type="button" data-sqdip-chart="D1c">D1c</button>
<br>
<button id="D1d" type="button" data-sqdip-chart="D1d">D1d</button>
<br>
<button id="D2" type="button">D2</button>
<br>
<button id="D3a" type="button">D3a</button>
<br>
<button id="D3b" type="button">D3b</button>
<br>
<button id="D4" type="button">D4</button>
<br>
<button id="D5" type="button">D5</button>
<br>
<button id="D7" type="button">D7</button>
<br>
<button id="D8" type="button">D8</button>
<br>
<button id="D9" type="button">D9</button>
<br>
<button id="D10" type="button">D10</button>
<br>
<button id="D11" type="button">D11</button>
<br>
<button id="D12" type="button">D12</button>
</div>

<section
    id="deliverablesGraphPanel"
    class="deliverables-graph-panel"
    hidden
>
    <div
        id="deliverablesGraph"
        class="deliverables-graph"
    ></div>
</section>

<script src="{{ url_for( 'static', filename='sqdip-charts.js' ) }}"></script>

<script src="{{ url_for('static', filename='deliverables.js') }}"></script>
{% endblock %}
