{% extends "base.html" %}

{% set page_title = "DELIVERABLES" %}

{% block content %}
<div class="button-container">
<button id="D1a1" type="button" data-sqdip-chart="D1a1">D1a1 </button>
<br>
<button id="D1a2" type="button" data-sqdip-chart="D1a2">D1a2</button>
<br>
<button id="D1b" type="button" data-sqdip-chart="D1b">D1b</button>
<br>
<button id="D1c" type="button" data-sqdip-chart="D1c">D1c</button>
<br>
<button id="D1d" type="button" data-sqdip-chart="D1d">D1d</button>
<br>
<button id="D2" type="button" data-sqdip-chart="D2">D2</button>
<br>
<button id="D3a" type="button" data-sqdip-chart="D3a">D3a</button>
<br>
<button id="D3b" type="button" data-sqdip-chart="D3b">D3b</button>
<br>
<button id="D4" type="button" data-sqdip-chart="D4">D4</button>
<br>
<button id="D5" type="button" data-sqdip-chart="D5">D5</button>
<br>
<button id="D7" type="button" data-sqdip-chart="D7">D7</button>
<br>
<button id="D8" type="button" data-sqdip-chart="D8">D8</button>
<br>
<button id="D9" type="button" data-sqdip-chart="D9">D9</button>
<br>
<button id="D10" type="button" data-sqdip-table="D10">D10</button>
<br>
<button id="D11" type="button"  data-sqdip-table="D11">D11</button>
<br>
<button id="D12" type="button" data-sqdip-chart="D12">D12</button>
</div>

<section
    id="deliverablesGraphPanel"
    class="deliverables-graph-panel"
    hidden
>
<button type="button"id="exportDeliverablesButton"class="Deliverables-button Deliverables-button-primary"disabled>Export to Excel</button>
    <div
        id="deliverablesGraph"
        class="deliverables-graph"
    ></div>
</section>

<section
    id="deliverablesTablePanel"
    class="deliverables-table-panel"
    hidden
>
<button type="button"id="exportDeliverablesButton"class="Deliverables-button Deliverables-button-primary"disabled>Export to Excel</button>
    <div
        id="deliverablesTable"
    ></div>
</section>

<script>
document.addEventListener(
    "DOMContentLoaded",
    function () {

        const buttons =
            document.querySelectorAll(
                ".button-container button"
            );

        buttons.forEach(
            function (button) {

                if (
                    !button.hasAttribute(
                        "data-sqdip-chart"
                    )
                    &&
                    !button.hasAttribute(
                        "data-sqdip-table"
                    )
                ) {
                    button.style.display =
                        "none";
                }

            }
        );

    }
);
</script>
<script src="{{ url_for( 'static', filename='sqdip-charts.js' ) }}"></script>

<script src="{{ url_for('static', filename='deliverables.js') }}"></script>
{% endblock %}
