{% extends "base.html" %}

{% set page_title = "INVENTORY" %}

{% block content %}
<div class="button-container">
<button id="I2a" type="button" >I2a</button>
<br>
<button id="I2b" type="button">I2b</button>
<br>
<button id="I3" type="button">I3</button>
<br>
<button id="I4" type="button">I4</button>
<br>
<button id="I5" type="button">I5</button>
<br>
<button id="I6" type="button">I6</button>
<br>
<button id="I6" type="button">I7</button>
<br>
<button id="I8" type="button">I8</button>
<br>
<button id="19" type="button">I9</button>
<br>
<button id="I10" type="button">I10</button>
<br>
<button id="I11" type="button">I11</button>
<br>
<button id="I12" type="button">I12</button>
<br>
<button id="I13" type="button">I13</button>
<br>
<button id="I14" type="button">I14</button>
<br>
<button id="I15" type="button">I15</button>
</div>
{% endblock %}