{% extends "base.html" %}

{% set page_title = "INVENTORY" %}

{% block content %}
<div class="button-container">
<button id="I2a" type="button" data-sqdip-chart="I2a_wip" >I2a</button>
<br>
<button id="I2b" type="button" data-sqdip-chart="I2b_wip">I2b</button>
<br>
<button id="I3" type="button">I3</button>
<br>
<button id="I4" type="button">I4</button>
<br>
<button id="I6" type="button" data-sqdip-chart="I6_location">I6</button>
<br>
<button id="I7" type="button">I7</button>
<br>
<button id="I8" type="button">I8</button>
<br>
<button id="I9" type="button">I9</button>
<br>
<button id="I10" type="button" data-sqdip-chart="I10_material">I10</button>
<br>
<button id="I11" type="button">I11</button>
<br>
<button id="I12" type="button">I12</button>
<br>
<button id="I13" type="button">I13</button>
<br>
<button id="I14" type="button">I14</button>
<br>
<button id="I15" type="button">I15</button>
</div>

<section
    id="inventoryGraphPanel"
    class="inventory-graph-panel"
    hidden
>
    <div
        id="inventoryGraph"
        class="inventory-graph"
    ></div>
</section>

<script src="{{ url_for( 'static', filename='sqdip-charts.js' ) }}"></script>

<script src="{{ url_for('static', filename='inventory.js') }}"></script>
{% endblock %}