{% extends "base.html" %}

{% set page_title = "INVENTORY" %}

{% block content %}
<div class="button-container">
<button id="I2a" type="button" data-sqdip-chart="I2a_wip" >I2a</button>
<br>
<button id="I2b" type="button" data-sqdip-chart="I2b_wip">I2b</button>
<br>
<button id="I3" type="button" data-sqdip-table="I3">I3</button>
<br>
<button id="I4" type="button" data-sqdip-chart="I4">I4</button>
<br>
<button id="I6" type="button" data-sqdip-chart="I6_location">I6</button>
<br>
<button id="I7" type="button" data-sqdip-chart="I7" data-colour-indicator="lost-stock">I7</button>
<br>
<button id="I8" type="button" data-sqdip-chart="I8">I8</button>
<br>
<button id="I9" type="button" data-sqdip-chart="I9">I9</button>
<br>
<button id="I10" type="button" data-sqdip-chart="I10_material">I10</button>
<br>
<button id="I11" type="button" data-sqdip-chart="I11">I11</button>
<br>
<button id="I12" type="button" data-sqdip-chart="I12" data-sqdip-export="true">I12</button>
<br>
<button id="I13" type="button" data-sqdip-chart="I13">I13</button>
<br>
<button id="I14" type="button" data-sqdip-chart="I14">I14</button>
<br>
<button id="I15" type="button" data-sqdip-table="I15"data-sqdip-export="true">I15</button>
</div>

<button
    type="button"
    id="exportInventoryButton"
    class="Inventory-button Inventory-button-primary"
    hidden
    disabled
>
    Export to Excel
</button>

<div
    id="graphColourIndicator"
    class="graph-colour-indicator"
    hidden
>
    <span
        class="
            graph-colour-key
            graph-colour-key--green
        "
    >
        <span
            class="graph-colour-box"
        ></span>

        LOST STOCK - GREEN
    </span>


    <span
        class="
            graph-colour-key
            graph-colour-key--amber
        "
    >
        <span
            class="graph-colour-box"
        ></span>

        LOST STOCK - AMBER
    </span>


    <span
        class="
            graph-colour-key
            graph-colour-key--red
        "
    >
        <span
            class="graph-colour-box"
        ></span>

        LOST STOCK - RED
    </span>


    <span
        class="
            graph-colour-key
            graph-colour-key--target
        "
    >
        <span
            class="graph-colour-box"
        ></span>

        TARGET
    </span>
</div>


<section
    id="inventoryGraphPanel"
    class="inventory-graph-panel"
    hidden
>
    <div
        id="inventoryGraph"
        class="inventory-graph"
    ></div>
</section>

<section
    id="inventoryTablePanel"
    class="inventory-table-panel"
    hidden
>
    <div
        id="inventoryTable"
    ></div>
</section>

<script>
document.addEventListener(
    "DOMContentLoaded",
    function () {

        const buttons =
            document.querySelectorAll(
                ".button-container button"
            );

        buttons.forEach(
            function (button) {

                if (
                    !button.hasAttribute(
                        "data-sqdip-chart"
                    )
                    &&
                    !button.hasAttribute(
                        "data-sqdip-table"
                    )
                ) {
                    button.style.display =
                        "none";
                }

            }
        );

    }
);
</script>

<script src="{{ url_for( 'static', filename='sqdip-charts.js' ) }}"></script>

<script src="{{ url_for('static', filename='inventory.js') }}"></script>
{% endblock %}