{% extends "base.html" %}

{% set page_title = "PRODUCTIVITY" %}

{% block content %}

<div class="button-container">
    <button id="P1" type="button" data-sqdip-chart="P1">P1</button>
    <br>

    <button id="P2" type="button" data-sqdip-chart="P2">P2</button>
    <br>

    <button id="P3a" type="button" data-sqdip-chart="P3a" data-sqdip-export="true">P3a</button>
    <br>

    <button id="P3b" type="button" data-sqdip-chart="P3b">P3b</button>
    <br>

    <button id="P4" type="button" data-sqdip-chart="P4">P4</button>
    <br>

    <button id="P5" type="button" data-sqdip-chart="P5">P5</button>
    <br>

    <button id="P6" type="button" data-sqdip-chart="P6" data-sqdip-export="true">P6</button>
    <br>

    <button id="P8" type="button" data-sqdip-table="P8">P8</button>
    <br>

    <button id="P9" type="button" data-sqdip-chart="P9">P9</button>
    <br>

    <button id="P10" type="button" data-sqdip-chart="P10">P10</button>
    <br>

    <button id="P11" type="button" data-sqdip-chart="P11">P11</button>
    <br>

    <button id="P12" type="button" data-sqdip-chart="P12">P12</button>
    <br>

    <button id="P13" type="button" data-sqdip-chart="p13_coshh">P13</button>
</div>

<button
    type="button"
    id="exportproductivityButton"
    class="productivity-button productivity-button-primary"
    hidden
    disabled
>
    Export to Excel
</button>

<section
    id="productivityGraphPanel"
    class="productivity-graph-panel"
    hidden
>
    <div
        id="productivityGraphFilters"
        class="sqdip-chart-filters"
        hidden
    ></div>

    <div
        id="productivityGraph"
        class="productivity-graph"
    ></div>
</section>

<section
    id="productivityTablePanel"
    class="productivity-table-panel"
    hidden
>
    <div
        id="productivityTable"
    ></div>
</section>

<script>
document.addEventListener(
    "DOMContentLoaded",
    function () {

        const buttons =
            document.querySelectorAll(
                ".button-container button"
            );

        buttons.forEach(
            function (button) {

                if (
                    !button.hasAttribute(
                        "data-sqdip-chart"
                    )
                    &&
                    !button.hasAttribute(
                        "data-sqdip-table"
                    )
                ) {
                    button.style.display =
                        "none";
                }

            }
        );

    }
);
</script>

<script src="{{ url_for( 'static', filename='sqdip-charts.js' ) }}"></script>

<script src="{{ url_for('static', filename='productivity.js') }}"></script>

{% endblock %}