{% extends "base.html" %}

{% set page_title = "QUALITY" %}

{% block content %}
<div class="button-container">
<button id="Q1" type="button">Q1</button>
<br>
<button id="Q2" type="button">Q2</button>
<br>
<button id="Q3" type="button" data-sqdip-chart="Q3_customer">Q3</button>
<br>
<button id="Q6" type="button">Q6</button>
<br>
<button id="Q7" type="button">Q7</button>
<br>
<button id="Q8" type="button">Q8</button>
<br>
<button id="Q8b" type="button">Q8b</button>
<br>
<button id="Q9" type="button">Q9</button>
</div>

<section
    id="qualityGraphPanel"
    class="quality-graph-panel"
    hidden
>
    <div
        id="qualityGraph"
        class="quality-graph"
    ></div>
</section>

<script src="{{ url_for( 'static', filename='sqdip-charts.js' ) }}"></script>

<script src="{{ url_for('static', filename='quality.js') }}"></script>
{% endblock %}