{% extends "base.html" %}

{% set page_title = "QUALITY" %}

{% block content %}
<div class="button-container">
<button id="Q1" type="button" data-sqdip-chart="Q1">Q1</button>
<br>
<button id="Q2" type="button" data-sqdip-chart="Q2_grn">Q2</button>
<br>
<button id="Q3" type="button" data-sqdip-chart="Q3_customer">Q3</button>
<br>
<button id="Q6" type="button" data-sqdip-chart="Q6">Q6</button>
<br>
<button id="Q7" type="button" data-sqdip-chart="Q7">Q7</button>
<br>
<button id="Q8" type="button" data-sqdip-chart="Q8">Q8</button>
<br>
<button id="Q8b" type="button" data-sqdip-chart="Q8b">Q8b</button>
<br>
<button id="Q9" type="button" data-sqdip-chart="Q9">Q9</button>
</div>

<section
    id="qualityGraphPanel"
    class="quality-graph-panel"
    hidden
>
<div
    id="qualityGraphFilters"
    class="sqdip-chart-filters"
    hidden
></div>
    <div
        id="qualityGraph"
        class="quality-graph"
    ></div>
</section>

<script>
document.addEventListener(
    "DOMContentLoaded",
    function () {

        const buttons =
            document.querySelectorAll(
                ".button-container button"
            );

        buttons.forEach(
            function (button) {

                if (
                    !button.hasAttribute(
                        "data-sqdip-chart"
                    )
                ) {
                    button.style.display =
                        "none";
                }

            }
        );

    }
);
</script>

<script src="{{ url_for( 'static', filename='sqdip-charts.js' ) }}"></script>

<script src="{{ url_for('static', filename='quality.js') }}"></script>
{% endblock %}