{% extends "base.html" %}

{% set page_title = "SAFETY" %}

{% block content %}
<div class="button-container">
    <button id="S1" type="button" data-sqdip-chart="S1">S1</button>
</div>

<div class="safety-days-since-accident" style="text-align: center;">
    Days Since Last Accident:
    <strong id="daysSinceLastAccident">--</strong>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<section
    id="safetyGraphPanel"
    class="safety-graph-panel"
    hidden
>
    <div
        id="safetyGraph"
        class="safety-graph"
    ></div>
</section>

<script>
document.addEventListener(
    "DOMContentLoaded",
    function () {

        const buttons =
            document.querySelectorAll(
                ".button-container button"
            );

        buttons.forEach(
            function (button) {

                if (
                    !button.hasAttribute(
                        "data-sqdip-chart"
                    )
                ) {
                    button.style.display =
                        "none";
                }

            }
        );

    }
);
</script>

<script src="{{ url_for( 'static', filename='sqdip-charts.js' ) }}"></script>

<script src="{{ url_for('static', filename='safety.js') }}"></script>
{% endblock %}